.news-card {
  min-height: 300px;
  background: #fff;
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition */
  border-radius: 8px; /* Optional rounded corners */
}

/* Apply shadow only on hover */
.news-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Adjust shadow intensity */
}

.news-image-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  margin-bottom: 1rem;
}

.news-title {
  width: 70%;
  font-size: 1rem !important;
}

.news-image-container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 4px;
}

.provider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
}

.provider-name {
  margin-left: 0.5rem;
}

.select-news {
  width: 180px;
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .news-image-container {
    flex-direction: column;
  }

  .news-title {
    width: 100%;
  }
}
